# Installs the service
# sudo systemctl enable /home/brandon/pinbot/pinbot.service

# Starts the service
# sudo systemctl start pinbot.service

# Check the service status
# sudo systemctl status pinbot.service

# To edit environment variables
# sudo systemctl edit pinbot.service

# To restart the system daemon & service
sudo systemctl daemon-reload && sudo systemctl restart pinbot.service

[Unit]
Description=Discord pinbot
After=network.target

[Service]
Type=forking
User=brandon
Restart=always
RestartSec=3s
# These are ignored before systemd v254, but keeping them in for future reference.
RestartMaxDelaySec=3m
RestartSteps=5
RuntimeMaxSec=1d

EnvironmentFile=/home/brandon/pinbot/.env
ExecStart=ruby src/pinbot.rb

[Install]
WantedBy=multi-user.target
